<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>首页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable-style" content="blank" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="shortcut icon" href="favicon.ico" />
    <!--build:css css/index.css-->
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <!--endbuild-->
    <!--[if lt IE 9]>
    <script type="text/javscript" src="js/lib/html5shiv.js"></script>
    <script type="text/javscript" src="js/lib/respond.js"></script>
    <![endif]-->
</head>

<body>
    <div class="page" id="app">
        <div class="header">
            <div class="title">首页</div>
        </div>
        <div class="content">
            <div class="wrapper">
                <grid-table :data-list="gridData" :columns="gridColumns">
                </grid-table>
            </div>
        </div>
    </div>
    <script type="text/x-template" id="grid-template">
        <div class="grid-table">
            <div class="grid-header">
                <div v-for="(col,index) in columns" :class="['grid-td','grid-td-'+index]"><span v-text="col"></span></div>
                <div :class="['grid-td','grid-td-'+columns.length]">操作</div>
            </div>
            <div class="grid-body">
                <div v-for="(entry,i) in dataList" :class="(i%2)==0?'grid-tr even':'grid-tr'">
                    <div v-for="(col,index) in columns" :class="['grid-td','grid-td-'+index]">
                        <p v-text="entry[col]==null?'- -':entry[col]"></p>
                    </div>
                    <div :class="['grid-td','grid-td-'+columns.length]">
                        <i class="icon i-edit" @click="editLayer"></i>
                        <i class="icon i-close"></i>
                    </div>
                </div>
            </div>
            <div class="grid-footer">
                <div class="total"><span>共： 68 条</span></div>
                <div class="pagination" id="J_pagination" data-page="5"></div>
            </div>

            <layer :showLayer="showLayer" v-if="showLayer" @close="showLayer = false"></layer>
        </div>
    </script>
    <script type="text/x-template" id="edit-template">
        <transition name="layer">
            <div class="layer-mask">
                <div class="layer layer-tips">
                    <div class="layer-box">
                        <div class="layer-header">
                            <p>编辑</p>
                        </div>
                        <div class="layer-body">
                            xxxxxxxx
                        </div>
                        <div class="layer-footer">
                            <a class="cancel" @click="$emit('close')">取消</a>
                            <a class="ok" @click="$emit('close')">确定</a>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </script>
    <script id="J_userTmpl" type="text/html">
        <div class="content user-content">
            <div class="wrapper">
                <div class="listview">
                    <a class="item">
                        <div class="pos-left">
                            <img src="images/logo.png" />
                        </div>
                        <p>51donate</p>
                        <p class="des">暂无简介</p>
                    </a>
                </div>
                <div class="gridview">
                    <a class="item">
                        <h2>0</h2>
                        <p>义币</p>
                    </a>
                    <a class="item">
                        <h2>0</h2>
                        <p>捐赠</p>
                    </a>
                    <a class="item">
                        <h2>0</h2>
                        <p>求捐</p>
                    </a>
                </div>
                <div class="groupview">
                    <a class="item">
                        <div class="pos-left">
                            <i class="icon i-edit"></i>
                        </div>
                        <span>签到</span>
                        <div class="pos-right">
                            <div class="btn-icon icon-right">
                                <span>签到赚义币</span>
                                <i class="icon i-carat-right"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="groupview">
                    <a class="item">
                        <div class="pos-left">
                            <i class="icon i-heart"></i>
                        </div>
                        <span>我的收藏</span>
                        <div class="pos-right">
                            <i class="icon i-carat-right"></i>
                        </div>
                    </a>
                    <a class="item">
                        <div class="pos-left">
                            <i class="icon i-comment"></i>
                        </div>
                        <span>我的评论</span>
                        <div class="pos-right">
                            <i class="icon i-carat-right"></i>
                        </div>
                    </a>
                    <a class="item">
                        <div class="pos-left">
                            <i class="icon i-location"></i>
                        </div>
                        <span>我的地址</span>
                        <div class="pos-right">
                            <i class="icon i-carat-right"></i>
                        </div>
                    </a>
                    <a class="item">
                        <div class="pos-left">
                            <i class="icon i-cart"></i>
                        </div>
                        <span>我的订单</span>
                        <div class="pos-right">
                            <i class="icon i-carat-right"></i>
                        </div>
                    </a>
                </div>
                <div class="groupview">
                    <a class="item">
                        <div class="pos-left">
                            <i class="icon i-edit"></i>
                        </div>
                        <span>意见反馈</span>
                        <div class="pos-right">
                            <i class="icon i-carat-right"></i>
                        </div>
                    </a>
                </div>
                <div class="groupview">
                    <a class="item">
                        <div class="pos-left">
                            <i class="icon i-setting"></i>
                        </div>
                        <span>设置</span>
                        <div class="pos-right">
                            <i class="icon i-carat-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </script>

    <!--build:js js/index.js-->
    <script type="text/javascript" src="js/lib/vue.js"></script>
    <script type="text/javascript" src="js/lib/vue-resource.js"></script>
    <script type="text/javascript" src="js/utils.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <!--endbuild-->
</body>

</html>