<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>首页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable-style" content="blank" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="format-detection" content="telephone=no,email=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="shortcut icon" href="favicon.ico" />
    <!--build:css css/index.css-->
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <!--endbuild-->
    <!--[if lt IE 9]>
    <script type="text/javscript" src="js/lib/html5shiv.js"></script>
    <script type="text/javscript" src="js/lib/respond.js"></script>
    <![endif]-->
</head>

<body>
    <div class="page" id="app">
        <div class="content">
            <div class="wrapper">
                <countdown deadline="2217-03-14"></countdown>
                <grid-table :data="gridData" :columns="gridColumns" @update="loadCustomer" @delete="deleteCustomer">
                </grid-table>
                <div class="grid-footer">
                    <a class="btn" @click="loadCustomer">新增</a>
                </div>
                <div class="loading" v-show="loading">
                    <div class="loading-spinner"></div>
                </div>
                <div class="form-box">
                    <div :class="{'form-item':true, 'input-focused':focused}">
                        <span class="pos-left">编号</span>
                        <input type="text" class="input" v-model="item.customerId" @focus="inputfocus" @blur="inputblur" />
                        <span class="pos-right"><i class="icon i-close"></i></span>
                    </div>
                    <div :class="{'form-item':true, 'input-focused':focused}">
                        <span class="pos-left">姓名</span>
                        <input type="text" class="input" v-model="item.customeName" @focus="inputfocus" @blur="inputblur" />
                    </div>
                    <div :class="{'form-item':true, 'input-focused':focused}">
                        <span class="pos-left">地址</span>
                        <input type="text" class="input" v-model="item.address" @focus="inputfocus" @blur="inputblur" />
                    </div>
                    <div :class="{'form-item':true, 'input-focused':focused}">
                        <span class="pos-left">手机号</span>
                        <input type="text" class="input" v-model="item.phone" @focus="inputfocus" @blur="inputblur" />
                    </div>
                </div>
                <layer :show="show" :data="item" @close="close" @save="saveCustomer"></layer>
            </div>
        </div>
    </div>
    <template id="grid-template">
        <div class="grid-table">
            <div class="grid-header">
                <div v-for="(col,index) in columns" :class="['grid-td','grid-td-'+(index+1)]"><span v-text="col"></span></div>
                <div :class="['grid-td','grid-td-'+(columns.length+1)]">操作</div>
            </div>
            <div class="grid-body">
                <div v-for="(entry,i) in data" :class="(i%2)==0?'grid-tr even':'grid-tr'">
                    <div v-for="(col,index) in columns" :class="['grid-td','grid-td-'+(index+1)]">
                        <p v-text="entry[col]==null?'- -':entry[col]"></p>
                    </div>
                    <div :class="['grid-td','grid-td-'+columns.length]">
                        <i class="icon i-edit" @click="loadEntry(entry['customerId'])"></i>
                        <i class="icon i-close" @click="deleteEntry(entry['customerId'])"></i>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template id="layer-template">
        <transition name="fade">
            <div class="layer-mask" v-if="show">
                <div class="layer">
                    <div class="layer-box">
                        <div class="layer-header">  
                            <p v-if="data.customerId==undefined">新增</p>
                            <p v-else>编辑</p>
                        </div>
                        <div class="layer-body">
                            <div class="form-box">
                                <div class="form-item">
                                    <span class="pos-left">Customer Id</span>
                                    <div v-if="data.customerId==undefined" class="input disabled" v-text=""></div>
                                    <input v-else type="text" class="input" disabled v-model="data.customerId" />
                                </div>
                                <div class="form-item">
                                    <span class="pos-left">Company Name</span>
                                    <input type="text" class="input" v-model="data.companyName" />
                                </div>
                                <div class="form-item">
                                    <span class="pos-left">Address</span>
                                    <input type="text" class="input" v-model="data.address" />
                                </div>
                                <div class="form-item">
                                    <span class="pos-left">Phone</span>
                                    <input type="text" class="input" v-model="data.phone" />
                                </div>
                            </div>
                        </div>
                        <div class="layer-footer">
                            <a class="cancel" @click="close" >取消</a>
                            <a class="ok" @click="save">确定</a>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </template>
    <template id="countdown-template">
        <div class="countdown">{{countdown}}</div>
    </template>
    <script id="J_userTmpl" type="text/html">
        <div class="content user-content">
            <div class="wrapper">
                <div class="listview">
                    <a class="item">
                        <div class="pos-left">
                            <img src="images/logo.png" />
                        </div>
                        <p>51donate</p>
                        <p class="des">暂无简介</p>
                    </a>
                </div>
                <div class="gridview">
                    <a class="item">
                        <h2>0</h2>
                        <p>义币</p>
                    </a>
                    <a class="item">
                        <h2>0</h2>
                        <p>捐赠</p>
                    </a>
                    <a class="item">
                        <h2>0</h2>
                        <p>求捐</p>
                    </a>
                </div>
                <div class="groupview">
                    <a class="item">
                        <div class="pos-left">
                            <i class="icon i-edit"></i>
                        </div>
                        <span>签到</span>
                        <div class="pos-right">
                            <div class="btn-icon icon-right">
                                <span>签到赚义币</span>
                                <i class="icon i-carat-right"></i>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="groupview">
                    <a class="item">
                        <div class="pos-left">
                            <i class="icon i-heart"></i>
                        </div>
                        <span>我的收藏</span>
                        <div class="pos-right">
                            <i class="icon i-carat-right"></i>
                        </div>
                    </a>
                    <a class="item">
                        <div class="pos-left">
                            <i class="icon i-comment"></i>
                        </div>
                        <span>我的评论</span>
                        <div class="pos-right">
                            <i class="icon i-carat-right"></i>
                        </div>
                    </a>
                    <a class="item">
                        <div class="pos-left">
                            <i class="icon i-location"></i>
                        </div>
                        <span>我的地址</span>
                        <div class="pos-right">
                            <i class="icon i-carat-right"></i>
                        </div>
                    </a>
                    <a class="item">
                        <div class="pos-left">
                            <i class="icon i-cart"></i>
                        </div>
                        <span>我的订单</span>
                        <div class="pos-right">
                            <i class="icon i-carat-right"></i>
                        </div>
                    </a>
                </div>
                <div class="groupview">
                    <a class="item">
                        <div class="pos-left">
                            <i class="icon i-edit"></i>
                        </div>
                        <span>意见反馈</span>
                        <div class="pos-right">
                            <i class="icon i-carat-right"></i>
                        </div>
                    </a>
                </div>
                <div class="groupview">
                    <a class="item">
                        <div class="pos-left">
                            <i class="icon i-setting"></i>
                        </div>
                        <span>设置</span>
                        <div class="pos-right">
                            <i class="icon i-carat-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </script>

    <!--build:js js/index.js-->
    <script type="text/javascript" src="js/lib/vue.js"></script>
    <script type="text/javascript" src="js/lib/vue-resource.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <!--endbuild-->
</body>

</html>